include layouts/main

    block content
        .form-containter 
            form(method="post" action="./")
                input(type="text" placeholder="Write Your List" name="toDo")
                button(type="submit")
        .List       
            each item in toDo 
                h2=item.task